@{
    ViewBag.Title = "About Us";
}
<br />
<h2>@ViewBag.Title.</h2>

<p>This is the first initial development stage of the time management tool within the Final Year Project development cycle. This tool currently meets all features to enable students to time 
    manage their tasks more effectively by giving students the platform to freely add tasks into the tool for it to be displayed back to the user. This tool also allows the user to edit, 
    change view and delete tasks as ways for the user to be organised.</p>
